<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>View Roster</title>
	<link rel="stylesheet" type="text/css" href="/templates/css/index.css">
</head>
<body style = "background-color: aquamarine">
	<h1 style="margin-left: 20px;">View a Team</h1>
	<%- form %>
        <label><strong>Team name: </strong><input type = "text" name = "name"/></label><br><br>
		<input type="submit" value="View Team"/>
	</form>
    <hr>
    <%- home %>
</body>

</html>